In [2]:
Semana03
Anthony Gabriel Bailon Villugas

SyntaxError: invalid syntax (3298056608.py, line 2)

# Semana03
Anthony Gabriel Bailon Villugas

In [3]:
Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

SyntaxError: invalid syntax (3474477146.py, line 1)

In [4]:
2. Variables

SyntaxError: invalid syntax (174323371.py, line 1)

2. Variables

In [5]:
# siempre deben iniciar con una letra y guion

In [6]:
edad = 28

In [7]:
edad

28

In [8]:
nombre = gabriel

NameError: name 'gabriel' is not defined

In [9]:
nombre ="gabriel"

In [10]:
nombre

'gabriel'

In [11]:
apellido = "bailon"

In [12]:
apellido

'bailon'

In [13]:
nombrecompleto= nombre + apellido

In [14]:
nombrecompleto

'gabrielbailon'

In [15]:
#para saber el tipo de variable...
#por ejemplo:
numero=50
type(numero)

int

In [16]:
type(nombre)

str

In [17]:
talla = 1.75
talla

1.75

In [18]:
type(talla)

float

In [19]:
#para compatir un numero en cadena
numero = 100
cadena = str(numero)
cadena

'100'

In [20]:
type(cadena)

str

In [21]:
cadena2= "50"
numero2= int(cadena2)
numero2

50

In [22]:
type(numero2)

int

In [23]:
#para convertir una cadena a un decimal
cadena2="50"
numero2=float(cadena)
numero2

100.0

In [24]:
type(numero2)

float